* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: AntiqueWhite;
    text-align: center;
  }
   
   
  p {
    font-size: 18px;
    text-align: center;
  }

img {
    text-align: center;   
}
   
   
  a {
    text-decoration: none;
  }

#lyrics {
    font-weight: bold;
    font-size: 5px;
    text-align: center;
    color: DarkGrey;
}
